#blank-box {
   
    width: 20px; 
    height: 20px;
    margin: 5px; 
    float: left;
    border-bottom: 10px solid white; 
    font-size: 40px;
    padding-bottom: 60px;
    text-align: center;
    color: white;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 50px;
    


    
}

body{
    background: url("chalk.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
    background-position: 20% 100%;

}


.title {
    font-family: 'Indie Flower', cursive;
    margin: auto;
    color: white; 
    font-size:60px;
    z-index: 1;
 
}


#space {
    height: 100px;
}

#side,
#floor,
#rope,
#top,
#body,
#left-arm,
#left-leg,
#right-arm,
#right-leg
{
    background-color: white;
    display: none; 

  
}


#man {
    float: center;
    margin-top: 50px;
      
}


#side {
    height: 300px;
    width: 10px;
    margin-left: 50px;
    margin-top: -60px;

}

#floor {

    height: 10px;
    width: 200px;
    margin-bottom: 30px;

}

#rope {

    height: 40px;
    width: 10px;
    margin-left: 240px;


}

#top {
  
    height: 10px;
    width: 200px;
    margin-left: 50px;

  
}


#head {
  
    height: 50px;
    width: 50px;
    border-radius: 50px; 
    margin-left: 220px;
    margin-top: 40px;
    overflow: auto;
  
    display: none; 
    border: 10px solid white; 

    
}



#body {
  
    height: 100px;
    width: 10px;
    border-radius: 50px; 
    margin-left: 240px;
    margin-top: 50px;
    float: left;
    color: white;

   
  
}

#left-arm { 
    width: 10px;
    height: 80px;
    -webkit-transform:
        translateY(-15px)
        translateX(10px)
        rotate(45deg); 
    margin-left: 200px;
    margin-top: 50px;
  
    border-radius: 50%;
  
}

#left-leg{
    width: 10px;
    height: 80px;
    -webkit-transform:
        translateY(-25px)
        translateX(10px)
        rotate(45deg); 
    margin-left: 200px;
    margin-top: 155px;
  
    border-radius: 30%;
  

}

#right-arm{
    width: 10px;
    height: 80px;
    z-index: 1;
    -webkit-transform:
        translateY(-15px)
        translateX(10px)
        rotate(135deg); 
    margin-left: 260px;
    margin-top: 50px;
  
    border-radius: 50%;
  
}

#right-leg{
    width: 10px;
    height: 80px;
    -webkit-transform:
        translateY(-25px)
        translateX(10px)
        rotate(135deg); 
    margin-left: 260px;
    margin-top: 155px;
  
    border-radius: 30%;
  

}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    background-color:black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    color: white;
    border: 1px solid green;
    width: 80%; /* Could be more or less, depending on screen size */
}


button {
    width: 25%;  
    background-color: green;
 }
