#word-guessed{
    margin-top: 300px;
    position: absolute;
}

#blank-box {
   
    width: 20px; 
    height: 20px;
    margin: 5px; 
    float: left;
    border-bottom: 10px solid white; 
    font-size: 40px;
    padding-bottom: 60px;
    text-align: center;
    color: white;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 50px;
 
    


    
}

body{
    background: url("chalk.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
    background-position: 20% 100%;
    color: white;

}


.title {
    font-family: 'Indie Flower', cursive;
    color: white; 
    font-size:60px;
    z-index: 1;
    position: absolute;
    width: 100%; 
 
    margin-top: -10px;


 
}




#side,
#floor,
#rope,
#top,
#body,
#left-arm,
#left-leg,
#right-arm,
#right-leg
{
    background-color: white;
    display: none;  
    float: right; 
    position: absolute;

  
}


#man {
 
    margin-top: 100px;
    position: relative;
    height: 400px;
    position: absolute;
    margin-left: 400px;
    
      
}


#side {
    height: 300px;
    width: 10px;
 

}

#floor {

    height: 10px;
    width: 200px;
    margin-top: 300px;
    margin-left: -40px;
 


}

#rope {

    height: 40px;
    width: 10px;
  margin-left: 200px;



}

#top {
  
    height: 10px;
    width: 200px;
    position: absolute

  
}


#head {
  
    height: 50px;
    width: 50px;
    border-radius: 50px; 
    margin-top: -60px;
    margin-left: -20px;
   
    
  display: none; 
    border: 10px solid white; 

    
}

#stick-figure {
    margin-left: 200px;
  margin-top: 100px; 
}

#body {
  
    height: 100px;
    width: 10px;
    border-radius: 50px; 
    
    color: white;

   
  
}

#left-arm { 
    width: 10px;
    height: 80px;
    -webkit-transform:
        translateY(-15px)
        translateX(10px)
        rotate(45deg);
        margin-left: -40px;


  
    border-radius: 50%;
  
}

#left-leg{
    width: 10px;
    height: 80px;
    -webkit-transform:
        translateY(-25px)
        translateX(10px)
        rotate(45deg); 
        margin-left: -40px;
   margin-top: 110px;
  
    border-radius: 30%;
  

}

#right-arm{
    width: 10px;
    height: 80px;
    z-index: 1;
    -webkit-transform:
        translateY(-15px)
        translateX(10px)
        rotate(135deg); 
        margin-left: 20px;
  
    border-radius: 50%;
  
}

#right-leg{
    width: 10px;
    height: 80px;
    -webkit-transform:
        translateY(-25px)
        translateX(10px)
        rotate(135deg); 
        margin-top: 110px;
        margin-left: 20px;
    border-radius: 30%;
  

}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    background-color:black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    color: white;
    border: 1px solid green;
    width: 80%; /* Could be more or less, depending on screen size */
}


button {
    width: 25%;  
    background-color: green;
 }


 #guesses {
     position: relative;
     
 }