#blank-box {
    background-color: lightblue;
    width: 50px; 
    height: 20px;
    margin: 5px; 
    float: left;
}



h1 {
    font-family: 'Indie Flower', cursive;
    margin-left: auto;
    margin-right: auto;
}

#space {
    height: 100px;
}


#side {
    height: 400px;
    width: 10px;
    background-color: black;
    margin-left: 50px;
    margin-top: -60px;
    display: none;
   
}

#floor {
    background-color: black; 
    height: 10px;
    width: 200px;
    margin-bottom: 30px;
    display: none;
}

#rope {
    background-color: black; 
    height: 60px;
    width: 10px;
    margin-left: 240px;
    display: none;
  

}

#top {
    background-color: black; 
    height: 10px;
    width: 200px;
    margin-left: 50px;
    display: none;
}


#head {
    background-color: rebeccapurple;
    height: 100px;
    width: 100px;
    border-radius: 50px; 
    margin-left: 195px;
    margin-top: 60px;
    overflow: auto;
    position: absolute;
    display: none;
}



#body {
    background-color: rebeccapurple;
    height: 150px;
    width: 10px;
    border-radius: 50px; 
    margin-left: 240px;
    margin-top: 90px;
    float: left;
    display: none;

   
  
}

#left-arm{
    width: 10px;
    height: 80px;
    background-color:  rebeccapurple;
    -webkit-transform:
        translateY(-15px)
        translateX(10px)
        rotate(45deg); 
    margin-left: 200px;
    margin-top: 150px;
    position: absolute;
    border-radius: 50%;
    display: none;
}

#left-leg{
    width: 10px;
    height: 80px;
    background-color:  rebeccapurple;
    -webkit-transform:
        translateY(-25px)
        translateX(10px)
        rotate(45deg); 
    margin-left: 200px;
    margin-top: 250px;
    position: absolute;
    border-radius: 30%;
    display: none;

}

#right-arm{
    width: 10px;
    height: 80px;
    background-color:  rebeccapurple;
    -webkit-transform:
        translateY(-15px)
        translateX(10px)
        rotate(135deg); 
    margin-left: 260px;
    margin-top: 150px;
    position: absolute;
    border-radius: 50%;
    display: none;
}

#right-leg{
    width: 10px;
    height: 80px;
    background-color:  rebeccapurple;
    -webkit-transform:
        translateY(-25px)
        translateX(10px)
        rotate(135deg); 
    margin-left: 260px;
    margin-top: 250px;
    position: absolute;
    border-radius: 30%;
    display: none;

}

/* Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}